/* contenedor principal */  
.contenedor_principal{
  display: grid;
  grid-column: auto auto;
  overflow-y: hidden;
  height: 100vh;
  color: white; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

/*logo blackknife*/ 
.logo { 
  margin-top: 10px;
  position: relative;
  left: 340px;
}
/*icono usuario*/ 
.div-user {
  margin-top: 40px;
  position: relative;
  left: 1345px;
}
 
/*barra hamburguesa*/ 
.div-bart { 
  margin-top: 40px;
  position: relative;
  right: 270px;
}
.user{
  color:inherit;
  text-decoration: none;  
}

.encabezado{
  background-color: #021826;
  display: flex;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, opacity 0.3s ease;
  opacity: 1;
}

.encabezado.scrolled {
  opacity: 0.7;
}

main {
  margin-top: 100px;
}

.menu{
  display: flex;
  margin: auto;
  gap: 40px ;
  color: white;
  position: relative;
  left: 100px;
  font-size: 18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.menu a{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.menu a:hover {
  color: #00bcd4;
}
/*end encabezado*/

.contenedor_banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/*botones */ 

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.banner:hover {
  filter: brightness(70%);
}
/*BOTON*/ 

.titulo1 {
  font-size: 8rem;
  font-family: "Great Vibes", cursive;
  margin: 0;  
  color: white;
  transition: color 0.3s ease; 
} 
.titulo1:hover { 
  color: #c2f5fc;
}

.info {
  font-size: 1.0rem;
  margin: 0;
  text-align: center;
}

a button {
  background-color: #004d4d;
  color: white;
  border: none;
  width: 240px;  /* ← ajusta el ancho como desees */
  height: 50px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 50px;
}
a button:hover {
  background-color: #078181;
}
.contenedor_botones_banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cont_titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio { 
  color: white;
  text-decoration: none;
  }

* {
margin: 0px;    
padding: 0px;
box-sizing: border-box;
}

/* pagina 1*/ 

.servicios_destacados {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 40px 20px;
  background-color: #021826;
  text-align: center;
  color: white;
}
.servicios_destacados h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}
.contenedor_servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.servicio {
  background: #102c3f;
  border-radius: 12px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.servicio:hover {
  transform: scale(1.05);
}

.servicio img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  border-radius: 10px;
}

.servicio h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.servicio p {
  font-size: 0.95rem;
  color:#fff
}
/*galerias flotantes*/
.galeria {
  padding: 40px 20px;
  background-color: #021826;
  text-align: center;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.galeria h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;   
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.galeria a {
  text-decoration: none;
}
.contenedor_galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
 }

/*contenedores animados*/ 
.contenedor_galeria img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.contenedor_galeria img:hover {
  transform: scale(1.05);
}

/*productos venta*/

.productos_destacados {
  padding: 40px 20px;
  background-color: #021826;
  text-align: center;
}
.productos_destacados h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  }

a {
  text-decoration: none;
  color: inherit;
}

.contenedor_productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
}
.producto {
  background-color:#102c3f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 300px;
  flex: 1 1 300px;   
}
.producto img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.producto img:hover {
  transform: scale(1.05);
}

.producto h3 {
  font-size: 1.3em;
  margin: 15px 0 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: white;
  
}

.producto p {
  font-size: 0.90em;
  color: #6e6e6e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.precio {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  color: #000;
}

.btn-comprar {
  background-color:#034d57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 15px auto 0;
  display: block;
}

.btn-comprar:hover {
  background-color:#096b78;
}

/*pagina 2 formulario INGRESO*/ 
.fondo_form{
  background-image:url(/black_knife_josue/Estilos/imagenes/fondo4.jpg);
  background-attachment: fixed;
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;   
} 

.form-register {   
    width: 500px;    
    background-color: #021826;
    padding: 60px;
    margin: auto;  
    position: relative;
    top: 70px;   
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #010d13;
    border-radius: 15px;    
}

.form-register h3{
    font-size: 20px;
    margin-bottom: 20px;
    }

    .form-register h5 {
    font-size: 18px;
    margin-bottom: 5px;
    }

   .controls {
    width: 100%;
    background-color: #096b78;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 18px;
    border: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white; 
   } 

   .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
           }

.form-register a {
    color: white;
    text-decoration: none;
    }

.form-register a:hover {
    color: white;
    text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background-color: #034d57;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

/*boton de regreso */
.back-button {
  margin-top: 10px;
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 20px;  
  box-shadow:  2px 2px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  margin: 20px; 
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top:20px; 
  left: 20px;
}

.back-button:hover {
  background-color: #034d57;
  }
  /*end pag2*/

/*FOOTER*/

.footer{
  background-color: #09373d;
  color: white;
  padding: 40px 20px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-contenido{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img{
width: 260px;
}

.footer-links ul{
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
  
}

.footer-links ul li a {
  color: #dad8d8;
  text-decoration: none; 
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-contacto p {
  margin: 6px 0;
}

.footer-redes a {
  color: #eee; 
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-redes a:hover {
  color: #ccc;
}

.footer-copy {
  text-align: center;
  border-top: 1px solid#444;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 0.9em;
}
/*end footer*/

/*NOSOTROS PAG3*/

.nosotros {
  padding: 60px 20px;
  background-color: #021826;
  background: url(/black_knife_josue/Estilos/imagenes/fondo\ pag3.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.nosotros h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor_nosotros {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.bloque_nosotros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;  
}
.bloque_nosotros .texto_nosotros,
.bloque_nosotros .imagen_nosotros {
  flex: 1;
  min-width: 280px;
}
.texto_nosotros h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: white;
  padding: 0 20px;
  }
  .historia h3{
 font-size: 1.8rem;
 color: white;
 margin-bottom: 10px;
 }
 .historia p {
  color: white;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;  
  margin-left: auto;
   }
.texto_nosotros p,
.texto_nosotros ul {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  padding: 10px 0;
  color: #fffefe;
  }
.texto_nosotros ul {
  list-style: none;
  padding: 0;    
}
.imagen_nosotros img {
  width: 100%;
  height: auto; 
  max-width: 500px; 
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}
.texto_nosotros p {
  margin: 5px;
}
/*end nosotros pag3*/

/*MEMBRESIAS PAG4*/

.membresias {
  padding: 60px 20px;
  background-image: url(/black_knife_josue/Estilos/imagenes/fondo_memebresia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #010d13;
  min-height: 100vh; 
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.membresias h2 {
  padding: 60px;
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }

.descripcion-membresia {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.contenedor_membresias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.tarjeta_membresia {
  background-color: #102c3f;
  border-radius: 15px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarjeta_membresia:hover {
  transform: translateY(-10px);
}

.tarjeta_membresia h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #0b8d9e;
}

.tarjeta_membresia ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  flex-grow: 1;
}

.tarjeta_membresia ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.tarjeta_membresia ul li::before {
  content: "✔";
  color: #00bcd4;
  position: absolute;
  left: 0;
}

.boton_miembro {
  background-color:#034d57;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.boton_miembro:hover {
  background-color: #0b8d9e;
}

/*pag5 PRODUCTOS*/
.productos {
  padding: 100px 20px;
  background-image: url(/black_knife_josue/Estilos/imagenes/fondo_productos.png); 
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  background-position: center;
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
.productos h2 {
  font-size: 2.5rem;
  margin-bottom: 100px;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
.contenedor_productos {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 0;
}
.tarjeta_producto {
  background-color: #102c3f;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  color: white;
}
.tarjeta_producto:hover {
  transform: translateY(-10px);
}
.tarjeta_producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.tarjeta_producto h3 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #00bcd4;
}
.precio1 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #aceef7;
}
.detalle {
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
  flex-grow: 1;
}
.boton-comprar{
background-color: #034d57;
color: #fff;
border: none;
padding: 10px;
border-radius: 8px;
cursor: pointer;
font-weight: bold;
width: 100%;
transition: background-color 0.3s ease;
margin-top: auto;
display: block;
margin: 0 auto;
}
.boton-comprar:hover {
  background-color: #0b8d9e;
}
/*end pag5*/

/*pag6 servicios*/
.servicios_fondo {
  background-image: url(/black_knife_josue/Estilos/imagenes/fondo_servicios.jpg);
  background-attachment: fixed;
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.servicios_section {
  padding: 100px 20px;
  max-width: 1200px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.servicios_section h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.servicios_lista {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.servicio_item {
  display: flex;
  flex-direction: row;
  background-color: #102c3f;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.servicio_item:hover {
  transform: scale(1.05);
}


.servicio_item img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.servicio_info {
  padding: 20px;
  flex: 1;
}

.servicio_info h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #0b8d9e;
}

.servicio_info p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.servicio_info ul {
  list-style-type: disc;
  padding-left: 20px;
}

.servicio_info ul li {
  margin-bottom: 8px;
}