* {
margin: 0px;    
padding: 0px;
box-sizing: border-box;
}

body {
    background-image:url(/black_knife_josue/Estilos/imagenes/pexels-nickoloui-1319458.jpg);
     background-size: cover; 
    background-repeat: no-repeat;   
    background-position: center; 
    
}

.form-register {
    width: 500px;
    background-color: #021826;
    padding: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    box-shadow: 7px 13px 37px #010d13;
    border-radius: 15px;


}
.form-register h3{
    font-size: 20px;
    margin-bottom: 20px;
    }

    .form-register h5 {
        font-size: 18px;
        margin-bottom: 5px;
            }

   .controls {
    width: 100%;
    background-color: #096b78;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 18px;
    border: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white; 
   } 

   .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
           }

.form-register a {
    color: white;
    text-decoration: none;
    }

.form-register a:hover {
    color: white;
    text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background-color: #034d57;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

